/* Advantages.css */
.advantage-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff; /* White background to contrast the colored items */
}

.advantage-box {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-grow: 1;
  padding: 20px;
  margin: 60px;
  border: 5px solid #000000; /* Blue border */
  border-radius: 25px;
  transition: transform 0.3s ease-in-out;
  background-color: #fff; /* Initial background color */
}

.advantage-box:hover {
  transform: scale(1.1); /* Gently enlarges the box */
  background-color: #8c62df;
  cursor: pointer;

}

.advantage-box:hover .advantage-text {
  color: #fff; /* White text color on hover */
}

.advantage-box .advantage-icon, .advantage-box .MuiSvgIcon-root {
  color: #000000; /* Blue icon color */
  margin-right: 20px;
  font-size: 34px; /* Adjust the size as needed */
}


.advantage-text {
  font-size: 30px;
  color: rgb(0, 0, 0); /* Black text color */
  font-weight: bold; /* Bold text */

}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-on-scroll {
  opacity: 0; /* Start with the element hidden */
}

.visible {
  animation: slideIn 2s ease-out;
  animation-fill-mode: forwards; /* Add this to retain the final state */
}
