/* Style for Navbar links */
/* Apply this class to both the text links and the button with icons */
.navbarLink {
  color: rgb(245, 244, 244); /* Text color */
  font-size: 20px;
  text-decoration: none; /* Removes underline from links */
  font-weight: bold; /* Makes the text bold */
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effects */
  display: inline-flex; /* Allows proper alignment of icon and text */
  align-items: center; /* Vertical alignment */
  justify-content: center; /* Horizontal alignment */
  margin: 0 5px; /* Adds a bit of margin to prevent elements from touching each other */
  padding: 10px 30px; /* Consistent padding */
  border-radius: 5px; /* Rounded corners, if desired */
  box-shadow: none; /* Remove any shadow for a flat design */
  border: none; /* Remove any default border */
}

/* Smooth scale effect on hover */
.navbarLink:hover {
  color: #ffffff; /* Text color on hover */
  background-color: #0c69ff; /* Background color on hover */
  transform: scale(1.05); /* Gently enlarges the element */
}

/* Innovate style for the AppBar */
.AppBar {
  box-shadow: none; /* Removes shadow for a flat design */
  border-bottom: 2px solid #000; /* Adds a bottom border for a sharper look */
}


                    
