/* עיצוב כללי ל-AppBar ול-Toolbar */
.AppBar {
  background-color: black; /* צבע רקע לסרגל העליון */
}

.toolbar {
  display: flex;
  justify-content: space-between; /* מרווח בין הלוגו לניווט */
  direction: rtl; /* כיווניות מימין לשמאל */
}

/* עיצוב לכותרת האתר (לוגו) */
.toolbar Typography {
  color: black; /* צבע טקסט ללוגו */
}

/* עיצוב לקישורים בסרגל הניווט */
.navbar a {
  color: black; /* צבע טקסט */
  font-size: 1.2rem;
  text-decoration: none; /* הסרת קו תחתון */
  padding: 10px 15px; /* ריווח סביב הטקסט */
  text-align: center; /* יישור הטקסט למרכז */
  font-weight: bold;
}

/* אם רוצים שהקישורים יתפלגו באופן שווה */
.navbar {
  display: flex;
  justify-content: space-around; /* פיזור שווה של הקישורים */
  width: 100%; /* שימוש בכל הרוחב */
}

/* עיצוב ספציפי לקישור של 'דף הבית' */
.navbar a:first-child {
  background-color: 'white'; /* צבע רקע ל'דף הבית' */
}

/* הדגשת קישור כאשר העכבר מעליו */
.navbar a:hover {
  border: 1px solid white; /* מסגרת לבנה סביב הקישור */
}
.button {
  transition: transform 0.3s ease; /* מוסיף אנימציה חלקה לשינוי */
}

.button:hover {
  transform: scale(1.1); /* מגדיל את הכפתור ב-10% */
}