.calculator-container {
  background-color: black;
  color: white;
  padding: 50px; /* הוספת padding */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px auto;
  top: 130px; /* מיקום מתחת לרכיב Stock4Life */
  left: 10px; /* מרחק מהצד השמאלי של המסך */
  transition: transform 0.3s, box-shadow 0.3s; /* מעבר חלק בהובר */
}

.calculator-container:hover {
  transform:scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* שינוי הצל בהובר */
}

h4, h6 {
  color: white;
}

button {
  margin-top: 20px;
}
.Ctitle{
  background-color: #0c69ff;
  padding: 5px;
  border-radius: 15px;
}
input, select {
  background-color: black !important;
  color: white !important;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ffffff;
}

input::placeholder, .MuiSelect-root::placeholder {
  color: grey;
}

.MuiSelect-root {
  color: white; /* צבע הטקסט */
}

.MuiSelect-icon {
  color: white; /* צבע האייקון של החץ */
}

.MuiPaper-root {
  background-color: black !important; /* צבע רקע הרשימה הנפתחת */
}

.MuiMenuItem-root {
  color: white !important; /* צבע הטקסט באפשרויות */
}

.MuiMenuItem-root:hover {
  background-color: grey !important; /* צבע רקע באפשרות בזמן ריחוף */
}
